APP_NAME=SIDEWAS
APP_ENV=local
APP_KEY=base64:STEE9HpXnAOpeAP8NTxQ7D7BBGsUmAz04Bxj+nD8y00=
APP_DEBUG=true
APP_URL=http://localhost:8000

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

# PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=sidewas
DB_USERNAME=root
DB_PASSWORD=

DB_SNP_CONNECTION=mysql
DB_SNP_HOST=127.0.0.1
DB_SNP_PORT=3306
DB_SNP_DATABASE=sidewas_snp
DB_SNP_USERNAME=root
DB_SNP_PASSWORD=

DB_RAGAB_CONNECTION=mysql
DB_RAGAB_HOST=127.0.0.1
DB_RAGAB_PORT=3306
DB_RAGAB_DATABASE=sidewas_ragab
DB_RAGAB_USERNAME=root
DB_RAGAB_PASSWORD=

DB_RAWAS_CONNECTION=mysql
DB_RAWAS_HOST=127.0.0.1
DB_RAWAS_PORT=3306
DB_RAWAS_DATABASE=sidewas_rawas
DB_RAWAS_USERNAME=root
DB_RAWAS_PASSWORD=

DB_DJSN_CONNECTION=mysql
DB_DJSN_HOST=127.0.0.1
DB_DJSN_PORT=3306
DB_DJSN_DATABASE=sidewas_djsn
DB_DJSN_USERNAME=root
DB_DJSN_PASSWORD=

DB_PRODUK_HUKUM_CONNECTION=mysql
DB_PRODUK_HUKUM_HOST=127.0.0.1
DB_PRODUK_HUKUM_PORT=3306
DB_PRODUK_HUKUM_DATABASE=sidewas_produk_hukum
DB_PRODUK_HUKUM_USERNAME=root
DB_PRODUK_HUKUM_PASSWORD=

DB_EKSTERNAL_CONNECTION=mysql
DB_EKSTERNAL_HOST=127.0.0.1
DB_EKSTERNAL_PORT=3306
DB_EKSTERNAL_DATABASE=sidewas_eksternal
DB_EKSTERNAL_USERNAME=root
DB_EKSTERNAL_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

GOOGLE_CLIENT_ID=127106706810-rqidgoj5vth15tno8u8bb8c18lsfhv17.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_REDIRECT_URI=http://localhost:8000/auth/google/callback
