*.log
.DS_Store
.env
.env.*
!.env.example
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/.npmrc
/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
*.key
*.pem
*.p12
*.pfx
*.sqlite
*.sqlite3
/*.sql
/*.dump
/*.bak
/*.backup
/note
/report-*.pdf
Homestead.json
Homestead.yaml
Thumbs.db
